<div class="container">
    <div class="first-segment">
        <table>
            <tr>
                <th>Nome: </th>
                <th>{{nave.nome}}</th> 
            </tr>
            <tr>
                <th>Modelo: </th>
                <th>{{nave.modelo}}</th> 
            </tr>
            <tr>
                <th>Quantidade max de passageiros: </th>
                <th>{{nave.qtdPassageiros}}</th> 
            </tr>
            <tr>
                <th>Manufatura: </th>
                <th>{{nave.manufaturado}}</th> 
            </tr>
            <tr>
                <th>Valor: </th>
                <th>{{nave.valor}}</th> 
            </tr>
            <tr>
                <th>Tamanho: </th>
                <th>{{nave.tamanho}}</th> 
            </tr>
            <tr>
                <th>Velociade Atmosferica máxima: </th>
                <th>{{nave.velocidadeAtsmofericaMax}}</th> 
            </tr>
            <tr>
                <th>Tamanho da equipe: </th>
                <th>{{nave.tamEquipe}}</th> 
            </tr>
            <tr>
                <th>Capacidade de Carga: </th>
                <th>{{nave.capCarga}}</th> 
            </tr>
            <tr>
                <th>MGLT: </th>
                <th>{{nave.mglt}}</th> 
            </tr>
            <tr>
                <th>Classe da Nave: </th>
                <th>{{nave.classe}}</th> 
            </tr>
            
        </table>
    </div>
</div>