<div class="container">
    <div class="first-segment">
        <table>
            <tr>
                <th>NOME: </th>
                <th>{{personagem.nome}}</th> 
            </tr>
            <tr>
                <th>Ano de Nascimento: </th>
                <th>{{personagem.anoNascimento}}</th> 
            </tr>
            <tr>
                <th>Gênero: </th>
                <th>{{personagem.genero}}</th> 
            </tr>
            <tr>
                <th>Altura: </th>
                <th>{{personagem.altura}}</th> 
            </tr>
            <tr>
                <th>Peso: </th>
                <th>{{personagem.peso}}</th> 
            </tr>
            <tr>
                <th>Cor do Cabelo: </th>
                <th>{{personagem.corCabelo}}</th> 
            </tr>
            <tr>
                <th>Cor da Pele: </th>
                <th>{{personagem.corPele}}</th> 
            </tr>
            <tr>
                <th>Cor do olho: </th>
                <th>{{personagem.corOlho}}</th> 
            </tr>
        </table>
    </div>
</div>