<div class="container">
    <div class="first-segment">
        <table>
            <tr>
                <th>Nome: </th>
                <th>{{planeta.nome}}</th> 
            </tr>
            <tr>
                <th>População: </th>
                <th>{{planeta.populacao}}</th> 
            </tr>
            <tr>
                <th>Clima: </th>
                <th>{{planeta.clima}}</th> 
            </tr>
            <tr>
                <th>Perído de Rotação: </th>
                <th>{{planeta.periodoRotacao}}</th> 
            </tr>
            <tr>
                <th>Período de orbita: </th>
                <th>{{planeta.peridoOrbital}}</th> 
            </tr>
            <tr>
                <th>Diâmetro: </th>
                <th>{{planeta.diametro}}</th> 
            </tr>
            <tr>
                <th>Gravidade: </th>
                <th>{{planeta.gravidade}}</th> 
            </tr>
            <tr>
                <th>Terreno: </th>
                <th>{{planeta.terreno}}</th> 
            </tr>
            <tr>
                <th>Porcentage de água na superfície: </th>
                <th>{{planeta.qtdAguaSuperficie}}</th> 
            </tr>
            
        </table>
    </div>
</div>